#container
:javascript
  $(function() {
    works = new Claudel.Collections.Works();
    works.url = '/works';
    works.fetch({
      success: function(works) {
        window.router = new Claudel.Routers.WorksRouter({works: works, time_periods: #{@time_periods.to_json.html_safe}, types: #{@types.to_json.html_safe}, domains: #{@domains.to_json.html_safe}});
        Backbone.history.start();
      }
    });
  });