<div class="cover"></div>
<div id="popover-work">
  <div id="about-page">
    <h1>About Matthew Claudel</h1>
    <p>This website maps an omnivorous approach to design: projects are for diverse purposes and in a variety of media, but are connected by an interest in critical analysis and material fabrication.</p>
    <p>During the summer of 2010 I worked at Moore Ruble Yudell Architects & Planners, where I did the layout, design, and editing of their most recent publication, a 375-page monograph titled The Future of Place. In 2012, I worked at SUWA Architects in Tokyo, Japan, where I designed a house for a client on the outskirts of Tokyo, in addition to designing and prototyping two chairs independently.</p>
    <p>I was offered the opportunity to speak at the TED conference in Feb. 2012, and presented “Creativity is Impossible,” about the creative process. As an undergraduate, my work was selected to be published in the Yale School of Architecture’s 2011 and 2013 Graduate Retrospecta.</p>
    <p>In 2011 I studied Scandinavian furniture in Copenhagen, and designed/built a chair of solid wood and industrial felt. I have been actively involved in graphic design both academically and professionally, and published three books.</p>
    <p>As a culmination of my architecture degree, I am completing two senior thesis projects: design and theory. The former is an environmental center in Hammonasset, Ct, and the latter is an architecture philosophy/theory project and exhibition hosted at Yale in April, 2013.</p>
  </div>
</div>