<table class="wrapper">
  <tr class="header">
    <td></td>
    <td id="random" ></td>
    <td></td>
  </tr>
  <tr>
    <td id="domain" ></td>
    <td><div id="works"></div></td>
    <td id="type" ></td>
  </tr>
  <tr class="footer">
    <td></td>
    <td id="time" ></td>
    <td></td>
  </tr>
</table>

<div id="popover" class="hidden">
</div>