<div class="wrapper">
  <div class="menu">
    <a href="#time" data-type='time'>Time</a>
    <a href="#domain" data-type='domain'>Domain</a>
    <a href="#type" data-type='type'>Type</a>
    <a href="#random" data-type='random'>Random</a>
  </div>
  <div id="works"></div>
</div>