// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "mixins";

// Admin Panel
.admin {
  width: 1000px;
  margin: auto;
}

table {
  border-collapse: collapse;
}