// Place all the styles related to the Works controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "mixins";

$work-margin: 0px;

body {
  margin: 0px;
  @include GC-Regular;
  background: white;
  #container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  #header {
    border-bottom: 1px solid #dadada;
    img {
      width: 1000px;
    }
  }
}

//Table
.wrapper {
  width: 100%;
  height: 100%;
  .header, .footer {
    height: 80px;
    text-align: center;
  }
  #menu, .about {
    text-align: left;
    a {
      margin-left: 10px;
      text-decoration: none;
      @include transition(0.2s);
      font-size: 21px;
      padding-bottom: 2px;
      color: #333;
      &:hover, &.active {
        color: black;
        border-bottom: 2px solid black;
      }
    }
  }
  .about {
    width: 104px;
    a {
      margin: 0px
    }
  }
  #domain, #type {
    width: 80px;
  }
  #domain {
    padding-left: 20px;
  }
  #type {
    padding-right: 20px;
  }
  #type, #domain {
    text-align: left;
  }
  #works {
    width: 100%;
    background: white;
    height: 100%;
    position: relative;
  }
  #domain, #type, #time {
    @include GC-Light;
    font-size: 18px;
  }
}

//Work styling
.work {
  position: absolute;
  display: block;
  height: 50px;
  width: 50px;
  background: black;
  opacity: 0;
  @include transition(opacity 0.3s);
  @include calc(top, 50%, 25px);
  @include calc(left, 50%, 25px);
  img {
    width: 50px;
  }
  &.visible {
    opacity: 1;
  }
  &:hover {
    opacity: 0.6;
  }
}

.float_break {
  clear: both;
}

//Time
#time-key {
  width: 100%;
}

//Domain
#domain-key {
  height: 100%;
}

//Type
#type-key {
  height: 100%;
}

//Popover
#popover {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  &.hidden {
    width: 0px;
    height: 0px;
    top: 0px;
    left: 0px;
    z-index: -100;
  }
  .cover {
    background: black;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    height: 100%;
    width: 100%;
  }
}
#popover-work {
  width: 90%;
  max-width: 900px;
  min-width: 300px;
  margin: auto;
  height: 80%;
  z-index: 100;
  position: relative;
  top: 5%;
  .work-container {
    width: 45%;
    height: 100%;
    background: white;
    position: absolute;
    border: 1px solid black;
  }
  table {
    @include calc(width, 100%, 30px);
    margin: 15px;
  }
  tr {
    td {
      vertical-align: top;
    }
    .left {
      width: 30%;
      padding-right: 5%;
      padding-bottom: 20px;
      img {
        width: 100%;
      }
    }
    .detail {
      font-size: 13px;
      line-height: 17px;
      @include GC-Regular;
    }
    .description {
      @include GC-Light;
      font-size: 13px;
      line-height: 17px;
    }
    .name {
      vertical-align: bottom;
      font-size: 25px;
      @include GC-Light;
      line-height: 25px;
      padding-bottom: 20px;
    }
  }
  .work-images {
    position: absolute;
    top: 0;
    left: 45%;
    overflow: hidden;
    height: 100%;
    background: white;
    border: 1px solid black;
    vertical-align: middle;
    width: 55%;
    @include transition(background 0.5s);
    &.loading {
      background-image: url("/assets/ajax-loader.gif");
      background-position: center;
      background-repeat: no-repeat;
    }
    img {
      height: 100%;
      display: block;
      margin: auto;
      @include transition(opacity 0.5s);
      opacity: 0;
      &.heighted {
        height: auto;
        width: 100%;
      }
      &.loaded {
        opacity: 1;
      }
    }
    .message {
      margin-top: 45%;
      text-align: center;
      color: grey;
      font-size: 20px;
    }
  }
}

// Arrows
#right-arrow, #left-arrow {
  position: absolute;
  height: 34px;
  width: 20px;
  top: 50%;
  margin-top: -17px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  opacity: 0.7;
  @include transition(0.2s);
  &:hover {
    opacity: 1;
  }
}
#right-arrow {
  right: 5px;
  background-image: url("/assets/right.png");
}
#left-arrow {
  left: 5px;
  background-image: url("/assets/left.png");
}

//About Page
#about-page {
  @include calc(width, 99%, 40px);
  height: 100%;
  background: white;
  position: absolute;
  border: 1px solid black;
  padding: 20px;
  h1 {
    @include GC-Regular;
  }
  p {
    @include GC-Light;
  }
}